.App {
  text-align: center;
}

.red {
  color: rgb(177, 31, 31);
}
.snow {
  color: gray;
}
.moderate {
  color: green;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box {
  box-sizing: content-box;
  width: 100%;
  border: solid 10px;
  padding: 1px;
  overflow-wrap: break-word;
}

.row:after {
  content: '';
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
